activate/
bin/
downloads/
lib/
lib64/
share/
downloads/
eid3.js
eid3fieldspruned.txt
eid3listtojs.py
fixjson.py
mutageneid3keys.txt
mutagenget.py
proxies.txt
pyvenv.cfg
subex.json
vexample_fixed.json
vexample.json
.conf.json